  #cls{
      margin-top: 5px;
      font-size: 11px;
      font-weight: bold;
      color: #696969;
  }
  .fa-location-arrow{
    font-size: xx-small;
    color:#696969;
    margin-top: 10px;
    margin-right: 10px;
  }
  .fa-wheelchair{
    margin-left:5px;
    color: #696969;
  }
  .fa-restroom{
    margin-top: 25px;
      margin-left: -60px;
      font-weight: 900;
      font-size: x-large;
      color: #696969;
  }
  .western{
    width: 35px;
      height: 50px;
      margin-left: 5px;
      margin-top: 5px;
  }
  .loo-types{
      width: 355px;
      min-height: 250px;
      max-height: 95vh;
      margin-left: 5%;
      margin-top: 30px;
      overflow-x: auto;
      background: #fff;
      box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
    }
 
  .alt-left{
    float:left;
    display:flex;
  }
 .right{
   float: right;
 }
 .fa-exclamation-triangle{
  color:red;
  margin-left:10px;
 }
 .d-flex{
  margin-top:5px;
  margin-right:10px
 }
